<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/cFinder.css" />
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <h1 class="h-header">🔎cFinder</h1>
        <nav>
          <a href="/">Home</a>| <a href="/about-us">About Us</a>|
          <a href="/toolbox">Toolbox</a> |
          <a href="/finder">cFinder</a>
        </nav>
      </header>
      <div class="box">
        <img src="../static/images/K-wing.png" alt="" />
      </div>
    </div>
  </body>
</html>
